# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/db/
/.idea/
/address-service/.idea/
/payment-service/gradle/
/order-service/gradle/
/application-model-starter/gradle/
/application-model-starter/out/
/address-etl/gradle/
/kafka-starter/out/
/good-service/src/main/resources/data/media/
/front-end-app/node_modules/
